<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="row justify-content-sm-center mt-3">
        <div class="col col-sm-6">
            <h1>Добавить продукт</h1>

            <form data-th-action="@{/addSmartPhone}" method="post" data-th-if="${product} == 'phone'">

                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="os" placeholder="OS">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="model" placeholder="model">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="color" placeholder="color">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="memorySize" placeholder="memory size">
                </div>
                <div>
                    <button class="btn btn-primary">Добавить</button>
                </div>
            </form>

            <form data-th-action="@{/addTShirt}" method="post" data-th-if="${product} == 'shirt'">

                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="size" placeholder="size">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="color" placeholder="color">
                </div>
                <div>
                    <button class="btn btn-primary">Добавить</button>
                </div>
            </form>

            <form data-th-action="@{/addStove}" method="post" data-th-if="${product} == 'electrolux'">

                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="type" placeholder="type">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="ovenVolume" placeholder="oven volume">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="width" placeholder="width">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="depth" placeholder="depth">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="height" placeholder="height">
                </div>
                <div>
                    <button class="btn btn-primary">Добавить</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>