<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1>Ulmart</h1>

            <form class="mt-3" data-th-action="@{/}" method="get">

                <div class="row">
                    <div class="col">
                        <input class="form-control" data-th-value="${search}" name="search" type="search"
                               placeholder="search">
                    </div>
                </div>


                <h3 class="mt-3" data-th-if="${search}">Searching results for: [[ ${search} ]]</h3>

                <div class="row mt-3">
                    <div class="col col-sm-4" data-th-each="product : ${products}" data-th-if="${product}">

                        <div class="card">
                            <div class="card-body">

                                <h5 class="card-title">
                                    [[ ${product.getName()} ]]
                                </h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Price: [[${product.getPrice()}]] rub</li>
                                </ul>

                                <ul class="list-group list-group-flush"
                                    data-th-if="${product instanceOf T(ru.itpark.ulmart.domain.IPhone)}">
                                    <li class="list-group-item">Model: [[ ${product.getModel()} ]]</li>
                                    <li class="list-group-item">Color: [[ ${product.getColor()} ]]</li>
                                    <li class="list-group-item">Memory: [[ ${product.getMemorySize()} ]]</li>
                                </ul>

                                <ul class="list-group list-group-flush"
                                    data-th-if="${product instanceOf T(ru.itpark.ulmart.domain.TShirt)}">
                                    <li class="list-group-item">Size: [[ ${product.getSize()} ]]</li>
                                    <li class="list-group-item">Color: [[ ${product.getColor()} ]]</li>
                                </ul>

                                <ul class="list-group list-group-flush"
                                    data-th-if="${product instanceOf T(ru.itpark.ulmart.domain.Electrolux)}">
                                    <li class="list-group-item">Type: [[ ${product.getType()} ]]</li>
                                    <li class="list-group-item">Oven volume: [[ ${product.getOvenVolume()} ]]</li>
                                </ul>

                                <div class="text-left">
                                    <a class="btn btn-primary"
                                       data-th-href="@{/view/{id} (id=${product.getId()})}">Детали</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <a class="btn btn-primary" data-th-href="@{/addSmartPhone}">Добавить смартфон</a>
                    <a class="btn btn-primary" data-th-href="@{/addTShirt}">Добавить футболку</a>
                    <a class="btn btn-primary" data-th-href="@{/addStove}">Добавить плиту</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>